h1 {
    border-bottom: 1px solid black;
}
nav {
    width: 200px;
    float: left;
}

nav ol {
    list-style: none;
}
article {
    border-left: 1px solid black;
    width: 414px;
    padding-left: 20px;
    float: left;
}
table{
    font-size: 10px;
}
img{
    max-width: 200px;
    max-height: 200px;
}