
h1{
    border-bottom: 1px solid gray;
}
nav {
    width: 160px;
    float: left;
}

nav ol {
    list-style: none;
}
article {
    border-left: 1px solid gray;
    width: 414px;
    padding-left: 20px;
    float: left;
}
table{
    font-size: 10px;
}
img{
    max-width: 200px;
    max-height: 200px;
}
#control{
    float:right;
}
body.white{
    background-color: white;
    color:black;
}
body.black{
    background-color: black;
    color:white;
}