
h1{
    border-bottom: 1px solid gray;
}
nav {
    width: 160px;
    float: left;
}

nav ol {
    list-style: none;
}
article {
    border-left: 1px solid gray;
    width: 414px;
    padding-left: 20px;
    float: left;
}
article h2{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: -250px;
}
table{
    font-size: 10px;
}
header img{
    float:right;
    height: 100px;
}
img{
    max-width: 200px;
    max-height: 200px;
}
#control{
    float:right;
}
body.white{
    background-color: white;
    color:black;
}
body.black{
    background-color: black;
    color:white;
}
a {
    text-align: center;
    text-decoration: none; /* 링크의 밑줄 제거 */
    /* color: inherit;  링크의 색상 제거 */
}